*{
    font-family: Verdana, sans-serif;
}

#content{
    position: absolute;
    width: 340px;
    padding: 20px;
    left: 50%;
    margin-left: -185px; 
    margin-top: 40px;
    border: solid black 2px;
}

a:link, a:visited{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

button, input[type="submit"], input[type="reset"]{ 
    background-color: lightgrey; 
    border-color: black; 
    color: black;  
    font-size: 11pt; 
    padding: 3px;
    margin-bottom: 5px;
    text-align: center; 
    cursor: pointer;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover{
    background-color: white; 
}

textarea, input[type="text"], input[type="password"]{
    width: 95%;
    font-size: 1em;
    padding: 4px;
}

input[readonly]{
    background-color: #eee;
}

.loginDiv{    
    font-size: 95%;
    width: 180px; 
    border: 2px solid black; 
    text-align: center; 
    padding: 10px;
}
